@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Raleway:wght@600;700;900&family=Red+Rose:wght@300;400;700&display=swap');

*{
margin: 0;
padding: 0;
}
body{
    width: 100%;
}
/* navbar  */
nav{
    display: flex;
    flex-direction: row;
    padding:20px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #626c78;
    gap: 30px;
   

}
.logo{
    position: relative;
    width: 40%;

}
.logo img{
    filter: invert();
    width: 94px;
    margin-left: 40px;
}
.nav-list{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 70px;
    margin-left: 40px;
}
.nav-list li a{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
li a:link{
    text-decoration: none;
}
li>.nav-btn{
    background-color: transparent;
    margin-left: 100px;
    border: 1px solid #ffffff72;
    border-radius: 4px;
    width: 125px;
    padding: 8px 10px;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* --hero section */

.hero{
    display: flex;
    flex-direction: row;
    padding: 20px 70px;
    background-color: #626c78;
    justify-content: center;
    gap: 50px;
}
.hero .hero-left{
    width: 40%;
}
.hero-left img{
    width: 420px;
    height: 490px;
    margin-left: 60px;
    object-fit: cover;
    border-radius: 5px;
}
.hero-right{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 30px;
    
}
.hero-right h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.4rem;
    width: 100%;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 30px;
}
.hero-right p{
    /* position: relative; */
    width: 420px;
    text-align: start;
    line-height: 25px;
    margin-left: 60px;
    color: #e9e6e6;
    font-family: sans-serif;
    font-size: 15px;
}
.contact-email{
    width: 560px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 60px;
}
.contact-email input{
    padding: 15px 100px;
    font-size: 12px;

}
.contact-email img{
    left: 15px;
    position: absolute;
    height: 35px;
    width: 25px;
}
.contact-email button{
    position: absolute;
    right: 210px;
    padding: 10px 18px;
    background-color: #8bb7a2;
    border: none;
    color: #fffefe;
    font-size: 15px;
}

/* ---section 1--- */

.section-1{
    display: flex;
    flex-direction: column;
    padding: 40px 90px;
    
}
.section-1 h1{
    text-align: center;
    font-size: 2.2rem;
    font-family: "Raleway";
}
.numbers{
    display: flex;
    flex-direction: row;
    padding: 40px 40px;
    align-items: center;
    justify-content:space-between;
}
.number-content h4{
    font-size: 35px;
    padding:0 20px;
    font-family: sans-serif;
}
.number-content p{
    font-size: 16px;
    padding: 2px 2px;
    color: #626c78;
}
.section-1 img{
    height: 450px;
}
.section-2{
    padding: 40px 90px;
}
.section-2 .section-heading{
    text-align: center;
    font-family: "Raleway";
    font-size: 3.8rem;
    margin-bottom: 40px;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 20px;
    padding-left: 40px;
}
.card{
    display: flex;
    flex-direction: row;
    
}
.card-info{
    margin-left: 40px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-info h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3.2rem;
}
.card-info p{
    width: 490px;
    margin-bottom: 40px;
    line-height: 25px;
    color: #626c78;
}
.card img{
    width: 50%;
    width: 600px;
    height: 450px;
}
.card-btn{
    padding: 13px 40px;
    background-color: #8bb7a2;
    border: none;
    color: #fffefe;
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
    font-weight: 600;
    border-radius: 2px;
}
.row-reverse{
    flex-direction: row-reverse;
}
.section-3{
    font-family: sans-serif;
    padding: 40px 150px;
}
.sec-3-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.sec-3-head h1{

    width: 55%;
    font-size: 2.2rem;
    padding-bottom: 20px;
}
.sec-3-head p{
    width: 60%;
    width: 450px;
    line-height: 25px;
    color: #626c78;
}
.team-imgs{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.team-imgs img{
    width: 360px;
    height: 480px;
}
.team-imgs h4{
    margin-top: 10px;
    font-size: 20px;
}
.team-imgs p{
    margin-top: 10px;
    color: #626c78;
    line-height: 20px;
}
.self-center{
    margin-left: 500px;
    margin-top: 40px;
}

/* --------------------footer------------------- */
footer{
    padding:0 40px;
    background-color: #10181D;
}
.footer-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:30px 90px;
    justify-content: space-between;
    border-bottom: 1px solid #615f5f;
}
.footer-header img{
    width: 100px;
    filter: invert();
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.social-media>div{
    padding: 13px;
    height: 18px;
    border-radius: 50%;
    background-color: #4f4d4d;
}
.social-media img{
    width: 10px;
}
.footer-content{
    padding: 40px 0;
    display: flex;
    gap: 90px;
}
.f-content{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    gap: 15px;
    font-family: sans-serif;
    color: #fff;
    list-style: none;
}
.f-content li>a{
    color: #ede7e7e8;
    font-size: 12px;
    font-weight: 400;
    word-spacing: 1px;
}

/* ------Media query------- */

@media only screen and (max-width:750px) {
    .nav-li{
        display: none;
    }
    /* hero section */
    .hero{
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        background-color: #626c78;
        justify-content: center;
        gap: 50px;
    }
    
    .hero-right h1{
        font-size: 2.4rem;
    }
    .contact-email{
        width: 360px;
    }
    .contact-email button{
        right: 10px;
    }
.section-1{
    padding: 20px 20px;
    align-items: center;
    
}
.section-1 h1{
    font-size: 2.2rem;
    font-family: "Raleway";
}
.numbers{
    padding: 40px 0px;
    margin-right: 10px;
    justify-content:center;
}
.section-1 img{
    height: 350px;
    width: 78%;
}
.section-2{
    padding: 10px 10px;
}
.section-2 .section-heading{
    text-align: start;
    margin-left: 80px;
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.cards{
    
}
.card{
    display: flex;
    flex-direction: column;
    
}
.card-info{
    margin-left: 40px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-info h1{
    margin-top: 40px;
    font-size: 1.8rem;
}
.card-info p{
    width: 400px;
}
.card img{
    width: 40%;
    width: 70%;
    margin: 10px 45px;
    height: 350px;
}
.card-btn{
    padding: 5px 20px;
}
.row-reverse{
    display: flex;
    flex-direction: column;
}
.section-3{
    padding: 20px 50px;
}
.sec-3-head{
    gap: 10px;
    padding-bottom: 20px;
}
.sec-3-head h1{
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.sec-3-head p{
    width: 90%;
    line-height: 20px;
    font-size: 10px;
}
.team-imgs{
    display: flex;
    flex-direction: column;
}
.team-imgs img{
    width: 440px;
    height: 580px;
}
.team-imgs p{
    width: 470px;
}
.self-center{
    margin-left: 190px;
    margin-top: 20px;
}    
/* ------footer----- */
footer{
    padding:0 0px;
    background-color: #10181D;
}
.footer-header{
    padding:20px 40px;
}
.footer-header img{
    width: 80px;
    filter: invert();
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 10px;
}
.social-media>div{
    padding: 5px;

}
.social-media img{
    width: 15px;
}
.footer-content{
    padding: 20px 1px;
    gap:40px;
}
.f-content{
    padding: 0 1px;
    margin-left: 1px;
    gap: 5px;
}

}